*{
    padding:0;
    margin:0;
}

body{
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: gray; */
}

/* use to test backround color */
/* #gameLayout {
    background-color: rgb(40, 40, 41);
} */